/* Hintergrund */
body {
    margin: 0;
    font-family: "Georgia", serif;
    background: linear-gradient(135deg, #f2e9e4, #c9ada7);
    background-attachment: fixed;
    color: #2b2b2b;
}

/* Hero */
.hero {
    text-align: center;
    padding: 40px 0;
}

.hero-img {
    max-width: 300px;
    width: 60%;
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.2));
}

/* Content Box */
.content-box {
    max-width: 700px;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.65);
    padding: 30px 40px;
    border-radius: 16px;
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* Typografie */
h2, h3 {
    font-family: "Georgia", serif;
    letter-spacing: 1px;
}

h2 em {
    font-style: italic;
    font-size: 1.8rem;
}

ul li {
    margin-bottom: 10px;
    line-height: 1.5;
}

/* Link */
.contact-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;
    background: #af5117;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    margin-bottom: 10px;
}

.contact-link:hover {
    background: #19e765;
    color: black;
    font-size: 1.1rem;
}
intro {
    font-size: 1.2rem;
    line-height: 1.6;
}
/* Footer */
footer {
    text-align: center;
    padding: 20px;
    color: #4a4a4a;
    font-size: 0.9rem;
}
